:root {
  --c-l1: #eeeeee;
  --c-l2: #f9f9f9;
  --c-l3: #ffffff;
  --c-d1: #000000e6;
  --c-d2: #000000e6;
  --c-d3: #000000b3;
  --c-red: #da4437;
  --c-red2: #cd14042b;
}

body {
  margin:0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: var(--c-l2);
  color: var(--c-d3);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

h1 {
  font-size: clamp(1.5rem, 1.29rem + 1.07vw, 2.25rem);
}

footer, header, main {
  padding: 12px clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
}

footer, header {
  background: var(--c-l1);
  color: var(--c-dark);

}
header {
  display: flex;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}
footer {
  border-top: 1px solid rgb(0 0 0 / 15%);
}
main {
  flex-grow: 1;
}

#gohome {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit;
}

#gohome:hover, #gohome:focus {
  opacity: 0.8
}

#logo {
  margin-right: 12px;
}

#sitetitle {
  font-weight: bold;
  font-size: 1.35rem;
}

#firstsec {
  max-width: 600px;
  text-align: center;
}

#firstsec, #analysis, #about {
  margin: 65px auto 0;
}

#about {
  text-align: center
}

input[type="file"] {
    display: none;
}
.btn, .btn2 {
    display: inline-block;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
    padding: 10px 16px;
    cursor: pointer;
    color: var(--c-l1);
    font-weight: bold;
    background: #cd1404;
    border-radius: 5px;
    border: none
}

.btn2 {
  background: var(--c-l3);
  color: var(--c-red)
}

.btn3, .btn4 {
  font-size: .9rem;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  overflow: hidden;
}

.btn4 {
  font-weight: 900;
  background: white
}

.deactivated {
  color: #dad0d0;
  cursor: not-allowed
}

.btn3-relative  {
  color: #585858;
  background: white;
}

.btn3-absolute{
  color: white;
  background: var(--c-red);
}

.btn3-absolute,.btn3-relative, .btn4 {
  padding: 5px 10px;
  transition: all .3s ease-in-out;
}

.activebtn3 > .btn3-relative {
  color: white;
  background: var(--c-red);
}

.activebtn3 > .btn3-absolute {
  color: #585858;
  background: white;
}


.activebtn3 {
}

.btn:hover, .btn:focus, .btn2:hover, .btn2:focus, .btn3-relative:hover, .btn3-absolute:hover, .btn4:hover {
  opacity: 0.8
}

.cont1 {
  margin: 25px 0;
}

.anl {
  max-width: 600px;
  padding: 8px;
  margin: auto;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
}

.anim {
  animation: in-an .6s ease-in-out;
}

.anim2 {
  animation: in-an2 .9s ease-in-out;
}

.metricfield {
  max-width: 600px;
  padding: 8px;
  margin: auto;
  display: flex;
  gap: 8px;
  justify-content: space-between
}

.wrong {
  background: var(--c-red2)
}

.popup {
  position: absolute;
  width: 155px;
  border: 1px solid rgb(0 0 0 / 15%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  background: var(--c-l3);
  padding: 5px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-size: 0.8rem;
  border-radius: 5px;
  animation: in-an .4s ease-in-out
}



#chartsec {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  width: 100%;
  max-width: 900px;
  margin: 12px auto;
  box-sizing: border-box;
}

.cardtitle {
  text-align: center;
  margin: 0
}

.btnholder {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin: 12px 0;
}

.chartwrap {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.charea-holder {
  width: 100%;
  overflow: auto;
}

#charea {
  min-width: 500px
}

#charea rect:hover {
  fill-opacity: 0.75;
  stroke:black
}
#charea rect {
  transition: .3s all ease-in-out
}

.exterModal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c9c9c9db
}

.interModal {
  width: 100%;
  max-width: 400px;
  background: var(--c-l1);
  display: flex;
  padding: 12px;
  gap: 7px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  border-radius: 7px;
  text-align: center
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 1rem
}

.modalClose {
  cursor: pointer;
}

.modalClose:hover {
  opacity: .85;
}

#SPwidthInput {
  width: 75px;
  border: none;
  text-align: center;
  background: none;
  border-bottom: 1px solid var(--c-d3);
  font-size: 1.1rem;
  color: var(--c-d3)
}

@keyframes in-an {
  0%   {opacity: 0}
  100% {opacity: 1}
}

@keyframes fade-out {
  0%   {opacity: 1}
  50% {opacity: 1}
  100% {opacity: 0}
}
